$color_value_exchange: 10%;
$padding_value: 20px;
$break_point: 1200px;
$shadow_value: 0 0 5px 0 rgba(34, 36, 38, 0.3);

$color_primary: #3d3dbb;
$color_secondary: #fbbd08;
$color_terciary: #ffffff;
$color_quaternary: #121212;
$color_error: #b42205;

$color_secondary_light: lighten(
    $color_secondary,
    $color_value_exchange * 1.5
);

$color_terciary_dark: darken(
    $color_terciary,
    $color_value_exchange/2
);

.master-page-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;

    @media screen and (min-width: $break_point) {
        justify-content: flex-start;
        width: 50%;
    }

    .container-form {
        width: 100%;
        background: $color_terciary;
        margin: 0 auto $padding_value;
        padding: $padding_value * 2;
        border-radius: $padding_value;

        -webkit-box-shadow: $shadow_value;
        -moz-box-shadow: $shadow_value;
        box-shadow: $shadow_value;

        @media screen and (min-width: $break_point) {
            margin-top: $padding_value;
        }

        .info-form {
            margin-bottom: $padding_value * 2;

            h2 {
                font-size: 1.8em;
            }

            span {
                font-size: 1.4em;
            }
        }
    }
}
