@import './master';

* {
    box-sizing: border-box;
    body {
        font-display: swap;
        margin: 0;
        background-color: darken(
            $color_terciary,
            $color_value_exchange/2
        );
    }
    a {
        text-decoration: none;
        color: $color_quaternary;
    }
    /*.not-available {
        opacity: 1;
    }
    .available {
        opacity: 0;
        -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
        -moz-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
        transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
    }*/
    .App {
        .space-div {
            height: 115px;
        }
    }
}
