@import '../../master';

.contact-page {
    padding: $padding_value;

    .contact-desktop {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1200px) {
            display: none;
        }
    }
}
