@import '../../master';

.contact-page {
    padding: $padding_value;
    margin-bottom: $padding_value * 3;

    @media screen and (min-width: $break_point) {
        margin-bottom: unset;
        display: flex;
        align-items: center;
    }

    .contact-desktop {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1200px) {
            display: none;
        }
    }
}
