@import '../../master';

.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding_value;
    margin-bottom: $padding_value * 3;

    @media screen and (min-width: $break_point) {
        margin-bottom: unset;
    }

    .back-button {
        top: 0;
        left: 20px !important;
        margin-top: 200px !important;
        @media screen and (min-width: $break_point) {
            margin-top: 290px !important;
        }
    }

    .title {
        width: 100%;
        text-align: right;
        margin: 10px 0 30px;
    }

    .ui.grid {
        margin: 0 !important;

        @media screen and (min-width: $break_point) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .ui.equal.width.grid {
        width: 100%;
        .ui.card.product-item {
            width: 320px;
        }
    }
}
