@import '../../master';

.us-page {
    padding: $padding_value;
    margin-bottom: $padding_value * 3;

    @media screen and (min-width: $break_point) {
        margin-bottom: unset;
        padding: $padding_value $padding_lateral_value;
    }
}
