@import '../../master';

.custom-div {
    height: 68vh;

    @media screen and (min-width: $break_point) {
        height: 82vh;
    }
}

.home-page {
    padding: $padding_value;

    div {
        border-radius: $padding_value;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .awssld {
        height: 74vh;
    }

    @media screen and (min-width: $break_point) {
        padding: unset;
        padding-bottom: $padding_value/2;
        margin-bottom: unset;
        div {
            border-radius: unset;
        }
    }
}
