@import '../../master';

.shop-filters-item {
    width: 180px;
    height: 100%;
    border-radius: $padding_value/2;
    background-color: $color_terciary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-box-shadow: $shadow_value;
    -moz-box-shadow: $shadow_value;
    box-shadow: $shadow_value;

    &.active {
        background-color: $color_secondary;

        &:hover {
            background-color: $color_secondary;
        }
    }

    &:hover {
        background-color: darken($color_terciary, 5%);
    }
}
