@import '../../master';

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $break_point) {
        display: none;
    }

    .contact-desktop {
        height: 400px;
        padding: $padding_value $padding_value $padding_value 0;
        background-color: $color_primary;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .container-form {
            background-color: $color_primary;
            color: white;
            @media screen and (min-width: $break_point) {
                margin: 0;
            }
        }

        @media screen and (min-width: $break_point) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    .footer-information {
        height: 60px;
        padding: $padding_value;
        background-color: darken($color_primary, 20%);

        .copyright {
            color: $color_terciary;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
        }
    }
}
