@import '../../master';

.products-show-all {
    display: flex;
    flex-direction: column;
    padding: $padding_value;

    .title {
        text-align: center;
        margin: $padding_value * 2 0;

        @media screen and (min-width: $break_point) {
            margin: $padding_value * 2 $padding_lateral_value;
        }
    }

    .ui.preview {
        justify-content: center;
        @media screen and (min-width: $break_point) {
            display: flex;
            flex-direction: row;
        }
    }
}
