@import '../../master';

.products-show-all {
    display: flex;
    flex-direction: column;

    .title {
        margin: $padding_value 0 $padding_value * 2;
        text-align: right;
    }

    .ui.preview {
        justify-content: space-between;
        @media screen and (min-width: $break_point) {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}
