@import '../../master';

.not-found-page {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: $padding_value;
    margin-bottom: $padding_value * 3;

    @media screen and (min-width: $break_point) {
        margin-bottom: unset;
    }

    @media screen and (max-width: $break_point) {
        flex-direction: column;
    }

    .error {
        background-image: url('../../assets/img/404.png');
        background-size: cover;
        background-position: center;
        width: 40vh;
        height: 40vh;
        margin: 0 auto;
        margin-top: -$padding_value;
        margin-bottom: $padding_value/2;
        color: $color_secondary;

        @media screen and (min-width: $break_point) {
            font-size: 10em;
            width: 50vh;
            height: 50vh;
            margin-top: -$padding_value * 2;
        }
    }

    .error-title {
        font-size: 3em;
        margin-bottom: $padding_value * 2;
        margin: 0 0 0 0;

        @media screen and (max-width: 800px) {
            font-size: 2em;
        }
    }

    .error-message {
        font-size: 2em;
        margin: $padding_value/2 0 0 0;

        @media screen and (max-width: 800px) {
            font-size: 1em;
        }
    }
}
