@import '../../master';

.header-menu {
    width: 100%;
    z-index: 5;
    padding: 0;
    margin: 0;
    bottom: 0;
    position: fixed;
    background-color: $color_terciary_dark;

    -webkit-box-shadow: $shadow_value;
    -moz-box-shadow: $shadow_value;
    box-shadow: $shadow_value;

    @media screen and (min-width: $break_point) {
        bottom: unset !important;
        position: unset;
        width: 40%;
        right: 0;

        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
    }

    .menu {
        border-top-width: 0 !important;
        border-bottom-width: 0 !important;
        border-right-width: 0 !important;
        border-left-width: 0 !important;

        .item {
            @media screen and (min-width: $break_point) {
                height: 117px !important;
                padding: 10px 0 0 !important;
            }

            &.active {
                border-top-style: solid !important;
                border-top-color: $color_primary !important;
                border-bottom-color: transparent !important;

                .menu-content {
                    color: $color_primary;
                    @media screen and (min-width: $break_point) {
                        svg {
                            height: 2.2em;
                            width: 2.2em;
                        }
                        p {
                            font-size: 1.5em;
                        }
                    }
                }
                @media screen and (min-width: $break_point) {
                    border-bottom-style: solid !important;
                    border-bottom-color: $color_primary !important;
                    border-top-color: transparent !important;
                }
            }

            .menu-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: darken($color_terciary, 40%);

                svg {
                    margin-bottom: 10px;
                }

                p {
                    font-size: 1em;
                }

                &:hover {
                    color: $color_primary;
                }

                @media screen and (min-width: $break_point) {
                    svg {
                        height: 2em;
                        width: 2em;
                    }
                    p {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}
