@import '../../master';

.sign-in-and-sign-up {
    display: flex;
    flex-direction: column;
    padding: $padding_value;
    margin-bottom: $padding_value * 3;

    @media screen and (min-width: $break_point) {
        margin-bottom: unset;
    }
}
